<div class="row">
  <div class="col-xs-12 col-lg-6">
    <h3>1Edit employee or/and time data</h3>
    <p class="lead"></p>
  </div>
</div>

<div class="breadcrumb col-xs-12 col-lg-12">
  <form name="myForm" class="form-horizontal">
    <div class="form-group col-xs-6 col-lg-4">
      <label for="idempl">Employee ID</label> <input type="text"
        class="form-control" name="idempl" ng-model="employeeToEdit.idEmpl"
        ng-readonly="true">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="lastname">Last name</label> <input type="text"
        class="form-control" name="lastname" ng-model="employeeToEdit.lastName">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="firstname">First name</label> <input type="text"
        class="form-control" name="firstname"
        ng-model="employeeToEdit.firstName">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="middlename">Middle name</label> <input type="text"
        class="form-control" name="middlename"
        ng-model="employeeToEdit.middleName">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="position">Position</label> <input type="text"
        class="form-control" name="position" ng-model="employeeToEdit.position">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="sex">Sex</label> <input type="text" class="form-control"
        name="sex" ng-model="employeeToEdit.sex">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="contactinfo">Contact info</label> <input type="text"
        class="form-control" name="contactinfo"
        ng-model="employeeToEdit.contactInfo">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="createddate">Created date</label> <input type="text"
        class="form-control" name="createddate"
        ng-model="employeeToEdit.createdDate">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="idtime">Time ID</label> <input type="text"
        class="form-control" name="idtime" ng-model="employeeToEdit.idTime"
        ng-readonly="true">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="timetrackdate">Track date</label> <input type="text"
        class="form-control" name="timetrackdate"
        ng-model="employeeToEdit.timeTrackDate">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="starttime">Start time</label> <input type="text"
        class="form-control" name="starttime"
        ng-model="employeeToEdit.startTime">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="endtime">End time</label> <input type="text"
        class="form-control" name="endtime" ng-model="employeeToEdit.endTime">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="iddep">Department ID</label> <input type="text"
        class="form-control" name="iddep" ng-model="employeeToEdit.idDep"
        ng-readonly="true">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="depname">Department name</label> <input type="search"
        class="form-control" name="depname" ng-model="deparName">
    </div>
    <div class="form-group col-xs-6 col-lg-4">
      <label for="depdescr">Department description</label> <input type="text"
        class="form-control" name="depdescr" ng-model="employeeToEdit.depDescr"
        ng-readonly="true">
    </div>
    <br> <br>
    <button ng-click="editempl.provideCancel()" class="btn btn-default">Cancel</button>
    <button ng-click="editempl.provideSave()"
      class="btn btn-primary">Save</button>
    <button ng-click="editempl.provideDelete()" class="btn btn-danger">Delete</button>

  </form>
</div>