<div class="row">
  <div class="col-xs-12 col-lg-6 col-lg-offset-2">
    <h3>Deleting time for {{ employeeToDelTime.firstName }} {{ employeeToDelTime.lastName }}</h3>
    <p class="lead"></p>
  </div>
</div>

<div class="breadcrumb col-xs-12 col-lg-8 col-lg-offset-2">
  <form name="myForm" class="form-inline">
    <div class="row">
      <div class="form-group col-xs-6 col-lg-8">
          Delete time for {{employeeToDelTime.lastName}}
          {{employeeToDelTime.lastName}}, tracking date: 
          {{ employeeToDelTime.timeTrackDate }}?
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="form-group col-xs-6 col-lg-12">
        <button ng-click="deltime.provideDelete()"
         class="btn btn-danger col-xs-4 col-lg-3">Delete</button>
        <button ng-click="deltime.provideCancel()"
         class="btn btn-default col-xs-4 col-lg-3 col-lg-push-1">Cancel</button>
      </div>
    </div>

  </form>
</div>