<div class="row">
  <div class="col-xs-12 col-lg-6 col-lg-offset-2">
    <h3>Add new employee</h3>
    <p class="lead"></p>
  </div>
</div>

<div class="breadcrumb col-xs-12 col-lg-8 col-lg-offset-2">
  <form name="myForm">
    <div class="row">
      <div class="form-group col-xs-6 col-lg-4">
        <label for="lastname">Last name</label> <input type="text"
          class="form-control" name="lastname" ng-model="employeeToAdd.lastName">
      </div>
      <div class="form-group col-xs-6 col-lg-4">
        <label for="firstname">First name</label> <input type="text"
          class="form-control" name="firstname" ng-model="employeeToAdd.firstName">
      </div>
      <div class="form-group col-xs-6 col-lg-4">
        <label for="middlename">Middle name</label> <input type="text"
          class="form-control" name="middlename"
          ng-model="employeeToAdd.middleName">
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-xs-6 col-lg-3">
        <label for="position">Position</label> <input type="text"
          class="form-control" name="position" ng-model="employeeToAdd.position">
      </div>
      <div class="form-group col-xs-6 col-lg-2">
        <label for="sex">Sex</label> <input type="text" class="form-control"
          name="sex" ng-model="employeeToAdd.sex">
      </div>
      <div class="form-group col-xs-6 col-lg-4">
        <label for="contactinfo">Contact info</label> <input type="text"
          class="form-control" name="contactinfo"
          ng-model="employeeToAdd.contactInfo">
      </div>
      <div class="form-group col-xs-6 col-lg-3">
        <label for="createddate">Created date</label> <input type="text"
          class="form-control" name="createddate"
          ng-model="employeeToAdd.createdDate">
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-xs-6 col-lg-2">
        <label for="iddep">Dep. ID</label> <input type="text"
          class="form-control" name="iddep" ng-model="employeeToAdd.idDep"
          ng-readonly="true">
      </div>
      <div class="form-group col-xs-6 col-lg-4">
        <label for="depname">Department name</label> <input type="search"
          class="form-control" name="depname" ng-model="employeeToAdd.depName">
      </div>
      <div class="form-group col-xs-6 col-lg-6">
        <label for="depdescr">Department description</label> <input type="text"
          class="form-control" name="depdescr" ng-model="employeeToAdd.depDescr"
          ng-readonly="true">
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="form-group col-xs-6 col-lg-12">
        <button ng-click="newempl.provideSave()"
         class="btn btn-primary col-xs-4 col-lg-3">Save</button>
        <button ng-click="newempl.provideCancel()"
         class="btn btn-default col-xs-4 col-lg-3 col-lg-push-1">Cancel</button>
      </div>
    </div>

  </form>
</div>